<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>You created a contact!</title>
    </head>
    <body>
        <div class="container">
            <h1>You created a contact!</h1>
            {% for contact in new_contact %}
                <ul>
                    <li> {{ contact.getName }} </li>
                    <p> {{ contact.getAddress }} </p>
                    <p> {{ contact.getPhoneNumber }} </p>
                </ul>
            {% endfor %}
            <a href="/"><button type="submit" class="btn btn-primary">Go Back</button></a>
        </div>
    </body>
</html>
