<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Address book cleared!</title>
    </head>
    <body>
        <div class="container">
        <h1>Address book cleared!</h1>
        <a href="/"><button type="submit" class="btn btn-primary">Go Back</button></a>
    </body>
</html>
