<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Address Book</title>
    </head>
    <body>
        <div class="container">
            <h1>Address Book</h1>
            <form action="/create_contact" method="post">
                <h4>Add a contact</h4>
                <div class="form-group">
                    <label for="newName">Name:</label>
                    <input id="newName" type="text" class="form-control" name="newName" required>
                </div>
                <div class="form-group">
                    <label for="newPhone">Phone Number:</label>
                    <input id="newPhone" type="number" class="form-control" name="newPhone">
                </div>
                <div class="form-group">
                    <label for="newAddress">Address:</label>
                    <input id="newAddress" type="text" class="form-control" name="newAddress">
                </div>
                <button type="submit" class="btn btn-success" name="create">Add Contact</button>
            </form>
            <h3>Your Contacts:</h3>
            {% for contact in all_contacts %}
                <ul>
                    <li> {{ contact.getName }} </li>
                    <p> {{ contact.getAddress }} </p>
                    <p> {{ contact.getPhoneNumber }} </p>
                </ul>
            {% endfor %}
            <form action="/delete_contacts" method="get">
                <button type="submit" name="delete" class="btn btn-danger">Clear Contacts</button>
            </form>
        </div>
    </body>
</html>
